<%- include('../partials/adminheader.ejs') -%>
<%- include('../partials/adminnavbar.ejs') -%>

<h2 class="page-title">Page</h2>
<a href="/admin/add-page" class= "btn btn-primary">Add a new page</a>
<br><br>
<table class="table table-striped">

<thead>
    <tr>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    <% pages.forEach(page =>{ %>
    
        <tr id="id_<%= page._id %>" class="<%= page.slug %>">
            <td><%= page.title %></td>
            <td> <a href="/admin/edit-page/<%= page.slug %>">Edit</a></td>
            <% if(page.slug == "home") { %>
                 <td></td>
            <% } else{ %>
                <td> <a class = "confirmDeletion"href="/admin/delete-page/<%= page._id %>">Delete</a></td>
                <% } %>
           
        </tr>
        
    <% }); %>

</tbody>
</table>


<script src="https://code.jquery.com/ui/1.13.0-rc.3/jquery-ui.min.js" integrity="sha256-R6eRO29lbCyPGfninb/kjIXeRjMOqY3VWPVk6gMhREk=" crossorigin="anonymous"></script>
<script>

$('tbody').sortable({
  items: "tr:not('.home')",
  placeholder: "ui-state-highlight",
  update: function(){
      var ids = $('tbody').sortable("serialize");
      var url = "admin/pages/reorder-pages";
      $.post(url,ids);
      
  } 
});

</script>
<%- include('../partials/adminfooter.ejs') -%>

